.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  background: rgba(255, 255, 255);
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.20); 
  z-index: 100;
  padding: 20px 20px;
}
.cart__header {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart__close {
  align-self: flex-end;
  color: #5C6A79;
  text-decoration: none;
}
.cart__empty {
  margin-bottom: 20px;
}
.cart__close:hover, .cart__close:hover, .cart__close:active {
  color: #a2a7ad;
}  
.cart__total-sum {
  text-align: right;
  font-weight: bold;
}
.cart__order {
  /* background-color: #efeff0; */
  margin: 20px 0;
  border-top: 2px dashed #86919e;
}
.cart__order-text {
  margin: 20px 0;
}
.cart__order-form {
  display: flex;
  flex-direction: wrap;
}
.cart__order-email {
  padding-bottom: 14px;
  border: none;
  border-bottom: 2px solid #c4c2d3;
  color:  #425366;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  width: 100%;
  margin-right: 20px;
  transition: all .2s;
}
.cart__order-email:hover, .cart__order-email:focus, .cart__order-email:active {
  
  border-bottom: 2px solid #4C3DB2;
}
.cart__order-buy {
  color: #4C3DB2;
  border: 1px solid #4C3DB2;
  background-color: #fff;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  height: 42px;
  width: 176px;
  transition: all .3s;
}
.cart__order-buy:hover,.cart__order-buy:focus, .cart__order-buy:active {
  background-color: #e3dfff;
  color: #4C3DB2;
  font-size: 11px;
}
