.home__wrapper {
  padding: 0 160px;
  margin-bottom: 134px;
}
.home__bg {
  width: 100%;
  background-size: cover;
  margin-top: 116px;
}
.home__logo {
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #534FD2;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.home__logo::after {
  content: "Bookstore";
  color: #FFFFFF;
  display: block;
  margin-left: -5px;
  margin-top: -78px;
}
.home__first-promo {
  width: 149px;
  height: 204px;
  background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 70px bottom 19px;
  position: absolute;
  top: 195px;
  right: 74px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: all .2s;
  cursor:pointer;
}
.home__first-promo:hover {
  transform: scale(1.1);
  background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 55px bottom 19px;
}
.home__second-promo {
  width: 158px;
  height: 273px;
  background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 80px bottom 19px;
  position: absolute;
  top: 475px;
  right: -23px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: all .2s;
  cursor:pointer;
}
.home__second-promo:hover {
  transform: scale(1.1);
  background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 65px bottom 19px;
}
.promo-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1C2A39;
}
.home__first-promo-text {
  margin: 102px 20px 36px 20px;
}
.home__second-promo-text {
  margin: 169px 68px 36px 20px;
}