.home__wrapper {
  padding: 0 160px;
  margin-bottom: 134px;
}
.home__bg {
  width: 100%;
  background-size: cover;
  margin-top: 116px;
}
.home__logo {
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #534FD2;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.home__logo::after {
  content: "Bookstore";
  color: #FFFFFF;
  display: block;
  margin-left: -5px;
  margin-top: -78px;
}
.home__first-promo {
  width: 149px;
  height: 204px;
  background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 70px bottom 19px;
  position: absolute;
  top: 195px;
  right: 74px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: all .2s;
  cursor:pointer;
  text-decoration: none;
}
.home__first-promo:hover {
  transform: scale(1.1);
  background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 55px bottom 19px;
}
.home__second-promo {
  width: 108px;
  height: 273px;
  background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 30px bottom 19px;
  position: absolute;
  top: 475px;
  right: 0px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: all .2s;
  cursor:pointer;
  text-decoration: none;
}
.home__second-promo:hover {
  transform: scale(1.1);
  background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 17px bottom 19px;
}
.promo-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1C2A39;
}
.home__first-promo-text {
  margin: 102px 20px 36px 20px;
}
.home__second-promo-text {
  margin: 169px 68px 36px 20px;
}
@media (max-width: 1024px) {
  .home__logo {
    top: 170px;
  }
  .home__first-promo {
    width: 119px;
    height: 174px;
    background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 43px bottom 5px;
    top: 155px;
    right: 74px;
  }
  .home__first-promo:hover {
    transform: scale(1.05);
    background: #9E98DC url(../../assets/img/icons/arrow.svg) no-repeat right 36px bottom 5px;
  }
  .promo-text {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1C2A39;
  }
  .home__second-promo {
    width: 108px;
    height: 243px;
    background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 32px bottom 6px;
    position: absolute;
    top: 375px;
    right: 0px;
  }
  .home__second-promo:hover {
    transform: scale(1.05);
    background: #FF8FE6 url(../../assets/img/icons/arrow.svg) no-repeat right 45px bottom 6px;
  }
}
@media (max-width: 890px) {
  .home__logo {
    top: 170px;
  }
  .home__bg {
    width: 100%;
    background-size: cover;
  }
  .home__first-promo, .home__second-promo  {
    display: none;
  }
  
  .home__wrapper {
    padding: 0 0;
    margin-bottom: 54px;
  }
}
@media (max-width: 660px) {
  .home__wrapper {
    margin-bottom: 20px;
  }
}
@media (max-width: 590px) {
  .home__bg {
    margin-top: 66px;
  }
  .home__logo {
    top: 90px;
  }
}
@media (max-width: 424px) {
  .home__bg {
    margin-top: 66px;
  }
  .home__logo {
    top: 80px;
    font-size: 30px;
  }
}