.search-pannel {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  background: rgba(255, 255, 255);
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.20); 
  z-index: 2;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.search-pannel__close {
  border: none;
  background-color: #fff;
  font-weight: bold;
  align-self: flex-end;
  color: #5C6A79;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 30px;
}
.search-pannel__close:hover, .search-pannel__close:hover, .search-pannel__close:active {
  color: #a2a7ad;
}  
.search-pannel__form {
  display: flex;
  width: 95%;
}
.search-pannel__input-field {
  padding-top: 5px;
  border: none;
  width: 70%;
  border-bottom: 2px solid #c4c2d3;
  color:  #425366;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  margin-right: 20px;
  transition: all 1s;
}
.search-pannel__input-field:hover, .search-pannel__input-field:focus, .search-pannel__input-field:active {
  
  border-bottom: 2px solid #4C3DB2;
}
.search-pannel__btn {
  color: #4C3DB2;
  border: 1px solid #4C3DB2;
  background-color: #fff;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  height: 42px;
  width: 176px;
  margin-right: 15px;
  transition: all .3s;
}
.search-pannel__btn:hover,.search-pannel__btn:focus, .search-pannel__btn:active {
  background-color: #e3dfff;
  color: #4C3DB2;
  font-size: 11px;
}
