.navbar {
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  z-index: 10;
}
.navbar__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1C2A39;
  margin-left: 160px;
}
.navbar__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
.navbar__link {
  margin-right: 40px;
  text-decoration: none;
  color: #5C6A79;
}
.navbar__link:last-child {
  margin-right: 0;
}
.navbar__link:hover, .navbar__link:focus, .navbar__link:active {
  opacity: .75;
}
.navbar__link_active {
  font-weight: 900;
  text-transform: uppercase;
  color: #1C2A39;
}
.navbar__icons {
  display: flex;
  margin-right: 160px;
}
.navbar__search-icon {
  width: 15px;
  margin-right: 40px;
  cursor: pointer;
} 
.navbar__cart-icon {
  width: 20px;
  cursor: pointer;
}
.navbar__search-icon:hover {
  opacity: .55;
}
.navbar__cart-icon:hover {
  opacity: .55;
}
.navbar__cart-icon-pic-full {
  background: url('../../assets/img/icons/red-circle.png') no-repeat top right;
}