.footer {
  position: block;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #EFEEF6;
}
.footer__wrapper {
  margin: 0 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  font-weight: bold;
  font-size: 18px;
  color: #1C2A39;
}
.footer__email {
  display: flex;
}
.footer__email-text, .footer__email-link, .footer__contacts-links {
  text-decoration: none;
  font-weight: bold;
  line-height: 12px;
  color: #5C6A79;
  text-transform: uppercase;
}
.footer__email-link {
  margin-left: 10px;
  color: #838f9b;
}
.footer__email-link:hover {
  color: #a9b0b8;
}
.footer__email {
  font-size: 14px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contacts-links {
  font-size: 10px;
  margin-right: 15px;
  margin-bottom: 12px;
}
.footer__contacts-links:last-child {
  margin-bottom: 0;
}
.footer__contacts-links:hover {
  color: #838f9b;
}
@media (max-width: 1024px) {
  .footer__wrapper {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .footer__contacts-links {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .footer__contacts-links {
    font-size: 12px;
  }
}
@media (max-width: 590px) {
  .footer__logo {
    display: none;
  }
}
