.books-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 76px;
  row-gap: 96px;
  margin: 46px 0 96px -60px;
}

@media (min-width: 1880px) {
  .books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1390px) {
  .books-list {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}
@media (max-width: 590px) {
  .books-list {
    margin: 0 0;
    margin-left: 20px;
    row-gap: 36px;
  }
}
@media (max-width: 413px) {
  .books-list {
    row-gap: 40px;
    justify-items: center;
    margin-left: 0;
  }
}