.books-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 76px;
  row-gap: 96px;
  margin: 46px 0 96px -60px;
}
.books-list__no-books {
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}