.books-list__book-card {
  grid-column: span 1;
  max-width: 424px;
  display: flex;
    transition: .6s;
}
.books-list__book-card:hover {
  transform: scale(1.05);
  transition: .6s;
}
.book-card__image {
  width: 212px;
  height: 300px;  
  overflow: hidden; 
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.book-card__image-pic {
  height: 100%;
  width: 100%;
  background-size: contain;
  transition: .6s;
}
.book-card__image-pic:hover {
  transform: scale(1.05);
  transition: .6s;
}
.book-card__about {
  display: flex;
  flex-direction: column;
  width: 212px;
  padding: 48px 0 48px 36px;
}
.book-card__about-info {
  transition: .6s;
}
[helper] {
  position: relative;
  cursor: pointer;
}
[helper]::after {
  content: attr(helper); 
    position: absolute;
    font-size: 12px;
    width: 140px; 
    left: 0; top: 0;
    background: #9b94c3;
    color: #fff; 
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    opacity: 0; 
    transition: 1s;
}
[helper]:hover::after {
  opacity: 1; 
  top: 20px; 
 }
.book-card__about-info:hover::after {
  content: ('Reed more...');
  transform: scale(1.05);
  transition: .6s;
  cursor: pointer;
}
.about__author {
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: #5C6A79;
  margin-bottom: 4px;
}
.about__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1C2A39;
  margin-bottom: 16px;
}
.about__description {
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: #5C6A79;
  margin-bottom: 16px;
}
.about__cost {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1C2A39;
  margin-bottom: 16px;
}
.about__buy-btn {
  color: #4C3DB2;
  border: 1px solid #4C3DB2;
  background-color: #fff;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  height: 46px;
  width: 176px;
  transition: all .3s;
  width: 176px;
}
.about__buy-btn:hover,.about__buy-btn:focus, .about__buy-btn:active {
  background-color: #e3dfff;
  color: #4C3DB2;
  font-size: 9px;
}
.about__buy-btn:active {
  background-color: #b6b2d8;
  color: #ffffff;
  font-size: 9px;
}