.more {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: rgba(255, 255, 255);
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.20); 
  z-index: 2;
  padding: 30px 30px;
}
.more__container {
  display: flex;
  flex-direction: column;
}
.more__image {
  width: 242px;
  height: 330px;  
  overflow: hidden; 
}
.more__image-pic {
  height: 100%;
  width: 100%;
  background-size: contain;
  transition: .6s;
}
.more__about {
  width: auto;
}
.more__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: #fff;
  font-weight: bold;
  color: #5C6A79;
  text-decoration: none;
  cursor: pointer;
}
.more__author {
  font-size: 14px;
  text-transform: capitalize;
  color: #5C6A79;
  margin: 15px 0;
}
.more__title {
  font-weight: bold;
  font-size: 18px;
  color: #1C2A39;
  margin-bottom: 16px;
}
.more__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
  color: #5C6A79;
  margin-bottom: 16px;
}
.more__cost {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1C2A39;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .more {
    width: 80%;
  }
}
@media (max-width: 590px) {
  .more {
    z-index: 10;
  }
  .more__image {
    width: 102px;
    height: auto; 
  }
  .more__description {
    font-size: 12px;
    line-height: 22px;
  }
  .more__author {
    font-size: 12px;
  }
  .more__title {
    font-size: 14px;
  }
  .more__cost {
    font-size: 14px;
  }
}
@media (max-width: 340px) and (max-height: 700px) {
  .more__image {
    display: none;
  }

}